VM {{ inventory_hostname }}
===============================

Download box from [here]({{ download_links[inventory_hostname+'.ova']}}) [[sha256]({{ download_links[inventory_hostname+'.ova.sha256']}})]

The router is set up with the following parameters:

## Interface configuration

{% for int in interfaces.keys() %}

Interface *{{ int }}*:

* Network: {{interfaces[int]["network"]}}
* IP: {{interfaces[int]["ip"]}}

{% endfor %}

## User names and passwords

Unprivileged user:

* username: {{ansible_user}}
* password: {{ansible_ssh_pass}}

Admin user:

* username: root
* password: {{ ansible_become_pass }}

## firewall rules

* Allow SSH access from uplink network: {{ allow_ssh_from_uplink }}
* Allow DNS to uplink network: {{ allow_dns_to_uplink }}
* Enable NAT to uplink network: {{ enable_nat_to_uplink }}

## Services

* Enable DHCP on inside networks: {{ enable_dhcp }}

