OpenBSD Routers
=========================

These are router that are generated using packer and ansible. See the repo for details.

Routers:

{% for host in groups['all']  | difference(['localhost'])  %}
* [{{host}}](VM_{{host}}) [[direct download]({{ download_links[host+'.ova'] }})] [[sha256]({{ download_links[host+'.ova.sha256'] }})]
{% endfor %}