# external interface
if_uplink = "{{ uplink_if }}"

# internal
{% for iface in interface_list %}
if_{{ interfaces[iface]["network"]}} = "{{ iface }}"
{% endfor %}
wired = "{{ interface_list | join(' ') }}"
wifi  = ""

{% for iface in interface_list %}
ip_{{ interfaces[iface]["network"]}} = "{{ interfaces[iface]["ip"]}}"
{% endfor %}

table <martians> { 0.0.0.0/8 127.0.0.0/8 169.254.0.0/16     \
       192.0.0.0/24 192.0.2.0/24 224.0.0.0/3 \
	 	   198.18.0.0/15 198.51.100.0/24 203.0.113.0/24 }

# notice. wee allow rfc1918 ip adressses
#    10.0.0.0/8 172.16.0.0/12 192.168.0.0/16


set block-policy drop
set loginterface egress
set skip on lo0

match in all scrub (no-df random-id max-mss 1440)
{% if enable_nat_to_uplink %}
match out on egress inet from !(egress:network) to any nat-to (egress:0)
{% endif %}

antispoof quick for { egress $wired $wifi }

block in quick on egress from <martians> to any
block return out quick on egress from any to <martians>

block all
pass out quick inet
pass in on { $wired $wifi } inet

{% if allow_ssh_from_uplink %}
pass in quick on egress inet proto tcp from any to (egress) port 22
{% endif %}

{% if not allow_dns_to_uplink %}
block return inet proto { tcp udp } to any port 53
pass  in quick on { $wired $wifi } inet proto { tcp udp } to { $ip_usrlan $ip_srvlan } port 53
{% endif %}


# pass in on egress inet proto tcp from any to (egress) port { 80 443 } rdr-to 192.168.1.2
