server:
{% for int in interface_list %}
    interface: {{ interfaces[int].ip}}
    access-control: {{networks[interfaces[int].network].subnet}} allow
{% endfor %}

    interface: 127.0.0.1
    do-not-query-localhost: no
    hide-identity: yes
    hide-version: yes

forward-zone:
    name: "."
    forward-addr: {{ networks['uplink'].nameserver }}
